@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>

<div class="text-bg-info"
        style="font-size: 1.5em; font-weight: bold; text-align: center;">
        <h2>For security reasons, your account has been locked out.</h2>
        <p>Please try again later.</p>
</div>