@page
@model RegisterModel


@{
    ViewData["Title"] = "Register";
}


<section>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="d-flex align-items-center">

                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                 class="img-fluid" alt="Sample image">

                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mx-1 mx-md-4">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.Email" class="form-control" type="email" id="form3Example3c" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <label asp-for="Input.Email" class="ms-2 text-muted" for="form3Example3c">Email</label>
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.Name" class="form-control" placeholder="Alex Svensson" />
                                            <label asp-for="Input.Name" class="ms-2 text-muted" for="form3Example1c">Full Name</label>
                                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.Password" type="password" id="form3Example4c" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                            <label asp-for="Input.Password" class="ms-2 text-muted" for="form3Example4c">Password</label>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.ConfirmPassword" type="password" id="form3Example4cd" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password Confirm" />
                                            <label asp-for="Input.ConfirmPassword" class="ms-2 text-muted" for="form3Example4cd">Confirm Password</label>
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-map fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.StreetAddress" type="text" id="form3Example1c" class="form-control" placeholder="1568 Still Pastures Drive" />
                                            <label asp-for="Input.StreetAddress" class="ms-2 text-muted" for="form3Example1c">Street Address</label>
                                            <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-city fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.City" type="text" id="form3Example1c" class="form-control" placeholder="Chester" />
                                            <label asp-for="Input.City" class="ms-2 text-muted" for="form3Example1c">City</label>
                                            <span asp-validation-for="Input.City" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-flag fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.State" type="text" id="form3Example1c" class="form-control" placeholder="SC" />
                                            <label asp-for="Input.State" class="ms-2 text-muted" for="form3Example1c">State</label>
                                            <span asp-validation-for="Input.State" class="text-danger"></span>
                                        </div>
                                    </div>

                                     <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-mail-bulk fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.PostalCode" type="text" id="form3Example1c" class="form-control" placeholder="29706" />
                                            <label asp-for="Input.PostalCode" class="ms-2 text-muted" for="form3Example1c">Postal Code</label>
                                            <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input asp-for="Input.PhoneNumber" type="text" id="form3Example1c" class="form-control" placeholder="803-377-7942" />
                                            <label asp-for="Input.PhoneNumber" class="ms-2 text-muted" for="form3Example1c">Phone Number</label>
                                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-user-tie fa-lg me-3 fa-fw"></i>
                                            <select asp-for="Input.Role" class="form-select" asp-items="@Model.Input.RoleList">
                                                <option disabled selected class="ms-2 text-muted">*Select Role*</option>
                                            </select>
                                        </div>
                                    }

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button id="registerSubmit" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-lg">Register</button>
                                    </div>

                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@* <div class="row">
    <div class="text-center">
        <h1 class="display-5">Welcome to Lamassu Books account registration!</h1>
    </div>
    <div class="col-md-12">
        <form id="registerForm" class="row shadow-lg border-0 rounded-3" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
            {
                <h2 class="text-bg-dark text-center border-0 rounded">Register - Admin portal</h2>
            }
            else
            {
                <h3 class="text-bg-dark text-center border-0 rounded">Create a new account</h3>
            }
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <input type="text" id="form3Example1c" class="form-control" />
                    <label class="form-label" for="form3Example1c">Your Name</label>
                </div>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.Name" class="form-control" placeholder="Alex Svensson" />
                <label asp-for="Input.Name" class="ms-2 text-muted">Full Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="ms-2 text-muted">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="ms-2 text-muted">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword" class="ms-2 text-muted">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.StreetAddress" class="form-control" placeholder=1568 Still Pastures Drive"" />
                <label asp-for="Input.StreetAddress" class="ms-2 text-muted">Street address</label>
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.City" class="form-control" placeholder="Chester" />
                <label asp-for="Input.City" class="ms-2 text-muted">City</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.State" class="form-control" placeholder="SC" />
                <label asp-for="Input.State" class="ms-2 text-muted">State</label>
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.PostalCode" class="form-control" placeholder="29706" />
                <label asp-for="Input.PostalCode" class="ms-2 text-muted">Postal code</label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="803-377-7942" />
                <label asp-for="Input.PhoneNumber" class="ms-2 text-muted">Phone number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            @if (User.IsInRole(SD.Role_Admin))
            {
                <div class="form-floating mb-3 col-md-3">
                    <select asp-for="Input.Role" class="form-select" asp-items="@Model.Input.RoleList">
                        <option disabled selected class="ms-2 text-muted">*Select Role*</option>
                    </select>
                </div>
            }
            <div class="col-12 mb-2 d-flex gap-4 align-items-center">
                <button id="registerSubmit" type="submit" class="w-50 btn btn-lg btn-primary">Register</button>
                <p class="w-50 text-center">Already have an account?</p>
                <a asp-page="/Account/Login" class="w-50 btn btn-lg btn-success">Log in</a>
            </div>
        </form>
    </div>
</div> *@
@* 
<hr />

<div class="col-md-12">
    <section>
        <h3>Use another service to register.</h3>
        <hr />
        <h5>Coming soon <i class="fa-solid fa-spinner fa-spin"></i></h5>
    </section>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
