@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="row">
    <div class="text-center">
        <h1 class="display-5">Welcome to Lamassu Books account registration!</h1>
    </div>
    <div class="col-md-12">
        <form id="registerForm" class="row shadow-lg border-0 rounded-3" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
            {
                <h2 class="text-bg-dark text-center border-0 rounded">Register - Admin portal</h2>
            }
            else
            {
                <h3 class="text-bg-dark text-center border-0 rounded">Create a new account</h3>
            }
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.Name" class="form-control" placeholder="Alex Svensson" />
                <label asp-for="Input.Name" class="ms-2 text-muted">Full Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="ms-2 text-muted">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="ms-2 text-muted">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword" class="ms-2 text-muted">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.StreetAddress" class="form-control" placeholder=1568 Still Pastures Drive"" />
                <label asp-for="Input.StreetAddress" class="ms-2 text-muted">Street address</label>
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.City" class="form-control" placeholder="Chester" />
                <label asp-for="Input.City" class="ms-2 text-muted">City</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.State" class="form-control" placeholder="SC" />
                <label asp-for="Input.State" class="ms-2 text-muted">State</label>
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.PostalCode" class="form-control" placeholder="29706" />
                <label asp-for="Input.PostalCode" class="ms-2 text-muted">Postal code</label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="803-377-7942" />
                <label asp-for="Input.PhoneNumber" class="ms-2 text-muted">Phone number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            @if (User.IsInRole(SD.Role_Admin))
            {
                <div class="form-floating mb-3 col-md-3">
                    <select asp-for="Input.Role" class="form-select" asp-items="@Model.Input.RoleList">
                        <option disabled selected class="ms-2 text-muted">*Select Role*</option>
                    </select>
                </div>
            }
            <div class="col-12 mb-2 d-flex gap-4 align-items-center">
            <button id="registerSubmit" type="submit" class="w-50 btn btn-lg btn-primary">Register</button>
            <p class="w-50 text-center">Already have an account?</p>
            <a asp-page="/Account/Login" class="w-50 btn btn-lg btn-success">Log in</a>
            </div>
        </form>
    </div>
</div>

<hr />

<div class="col-md-12">
    <section>
        <h3>Use another service to register.</h3>
        <hr />
        <h5>Coming soon <i class="fa-solid fa-spinner fa-spin"></i></h5>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
