@model IEnumerable<Product>

@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <h1 class="display-4">Search Results</h1>
    <p class="lead">The best place to find your favorite books</p>
</div>

<hr />


